{% extends 'base.html' %}
{% load static %}
{% block main_content %}
            <!-- Header Site Introduction -->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">How are you combating human trafficking in Utah?</h1>
                                <p class="lead fw-normal text-white-50 mb-4">"Injustice anywhere is a threat to justice everywhere." - Martin Luther King Jr.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#learn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://sawebfilesprod001.blob.core.windows.net/images/See%20Say%20Ethics%203x2.jpg?sv=2017-04-17&sr=b&si=DNNFileManagerPolicy&sig=agGx07VbUPKGZ7jZhm52OspvTVdmHZA6GMzq%2BnRdTo0%3D" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Table data section -->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <!-- TABLE DATA -->
                            <div class="text-center">
                                <p style = "font-size: 50px"><strong>Missing Persons in Utah</strong></p>
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead><tr><th title="Field #1">Date missing</th>
                                    <th title="Field #2">Last name</th>
                                    <th title="Field #3">First name</th>
                                    <th title="Field #4">Age at missing</th>
                                    <th title="Field #5">City</th>
                                    <th title="Field #6">State</th>
                                    <th title="Field #7">Gender</th>
                                    <th title="Field #8">Race</th>
                                    </tr></thead>
                                    <tbody>
                                    {% for oPerson in data %}
                                    <tr>
                                    <td>{{oPerson.date_missing}}</td>
                                    <td>{{oPerson.last_name}}</td>
                                    <td>{{oPerson.first_name}}</td>
                                    <td align="right">{{oPerson.age_at_missing}}</td>
                                    <td>{{oPerson.city}}</td>
                                    <td>{{oPerson.state}}</td>
                                    <td>{{oPerson.gender}}</td>
                                    <td>{{oPerson.race}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody></table>
                                <div style="color: orange" class="fs-4 mb-4 fst-italic">If you have seen or heard of these people or have any additional information, please report to the local police authorities. They are ready and able to help!</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://www.state.gov/wp-content/uploads/2021/01/Placeholder_seal_final.png" alt="US Department of State seal" style="width: 40px" />
                                    <div class="fw-bold">
                                        <a href="https://www.state.gov/domestic-trafficking-hotlines/#:~:text=Call%20the%20National%20Human%20Trafficking,potential%20human%20trafficking%20activity%3B%20or">Click here for info on reporting human trafficking activity</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Learn preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" id="learn">Learn More</h2>
                                <p class="lead fw-normal text-muted mb-5">Learn more about what human trafficking is, why it happens, how it happens, the personal stories, and what you can do to help.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://deseret.brightspotcdn.com/dims4/default/623fcac/2147483647/strip/true/crop/3000x2000+0+0/resize/1680x1120!/format/webp/quality/90/?url=https%3A%2F%2Fcdn.vox-cdn.com%2Fthumbor%2FomW1eCFAnHIFcXObitPJdy6Z46g%3D%2F0x0%3A3000x2000%2F3000x2000%2Ffilters%3Afocal%281500x1000%3A1501x1001%29%2Fcdn.vox-cdn.com%2Fuploads%2Fchorus_asset%2Ffile%2F22910408%2Fmerlin_2888487.jpg" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Donate</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.deseret.com/utah/2021/10/8/22716453/aspen-house-utah-human-trafficking-recovery-center-kicks-off-fundraising-efforts-salt-lake-city"><h5 class="card-title mb-3">What’s being done to help human trafficking survivors in Utah? This recovery center is seeking donations</h5></a>
                                    <p class="card-text mb-0">Learn more about Brittnay Garcia and Brandi Funk's story about how they survived human trafficking. They share more about how your donations can help this cause.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="small">
                                                <div class="fw-bold">Emily Ashcroft</div>
                                                <div class="text-muted">October 8, 2021 &middot; 6 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://www.nea.org/sites/default/files/styles/1920wide/public/2022-06/human_trafficking.jpeg?itok=O4zvdeQz" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Learn</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.rideuta.com/news/2021/01/Human-Trafficking#:~:text=BE%20THE%20ONE%20to%20SUPPORT%20victims%20of%20human%20trafficking.&text=victims%20to%20services%3A-,Contact%20the%20National%20Human%20Trafficking%20Hotline%20at%20888%2D373%2D7888,%40aau%2Dslc.org%20"><h5 class="card-title mb-3">BE THE ONE in Utah’s Fight Against Human Trafficking</h5></a>
                                    <p class="card-text mb-0">Still want to learn more about human trafficking in Utah? Dive into the details of human trafficking. Learn more about what it is, who is vulnerable, who are the traffickers, etc.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="small">
                                                <div class="fw-bold">Asian Association of Utah</div>
                                                <div class="text-muted">January 8, 2021 &middot; 4 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://www.abc4.com/wp-content/uploads/sites/4/2022/01/abc4-background-9.png?w=1280&h=720&crop=1" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Story</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.abc4.com/news/digital-exclusives/something-was-really-wrong-during-human-trafficking-prevention-month-a-utah-survivor-shares-her-story/"><h5 class="card-title mb-3">‘Something was really wrong:’ During Human Trafficking Prevention month, a Utah survivor shares her story</h5></a>
                                    <p class="card-text mb-0">Julie Whitehead shares her story of being human trafficked in Utah</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="small">
                                                <div class="fw-bold">Sophie Bress</div>
                                                <div class="text-muted">January 6, 2022 &middot; 4 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">National Human Trafficking Hotline</div>
                                <div class="text-white-50">24 hours, 7 days a week. English, Spanish, and 200 more languages.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <div class="fs-3 fw-bold text-white">1 (888) 373-7888</div>
                                </div>
                                <div class="small text-white-50">SMS: 233733 (Text "HELP" or "INFO").</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </main>
{% endblock %}
